<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body >
    <nav class="navbar navbar-inverse visible-xs">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">User</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/user/dashboard">Dashboard</a></li>
                    <li><a href="/user/interview">Interviews</a></li>
                    <li><a href="/user/job">Jobs</a></li>
                    <li><a href="/user/profile">My Profile</a></li>
                    <li><a href="/user/logout" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row content">
        <div
          class="col-sm-3 sidenav hidden-xs"
          style="background-color: #cbdadd"
        >
          <h2>User</h2>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/user/dashboard">Dashboard</a></li>
                    <li><a href="/user/interview">Interviews</a></li>
                    <li><a href="/user/job">Jobs</a></li>
                    <li><a href="/user/profile">My Profile</a></li>
                    <li><a href="/user/logout" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a></li>
          </ul>
          <br />
        </div>
        <br />

        <div class="col-sm-9">
            <div class="wel"  style="box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5); text-align: center; ">
                <h2>Quiz Submitted Successfully</h2>
              
              </div>
<br>  <div class="quiz" style="padding-left: 150px ;font: size 40px;;">
    <p  ><h2><b><i>Your Quiz is submitted successfully. </i></b>
      <br><br>

      please wait till the recruiter performs the assessment </h2>  <h3>  If you <b>pass</b> the test the <i>result</i> of the test will be shown in<b><i> Interviews  section</i></b> <br>kindly  keep checking it .!!</h3></section></p>
</p>
  </div>
<br><br><br>
  <button  class="btn btn-primary btn-lg"><a href="/user/dashboard">Go back to dashboard</a></button>
            </div>
          
        </div>
      </div>
    
    <script src="/scripts.js"></script>
  </body>
</html>
